/db/grafana
/message-service/node_modules
/message-service/.env

/catalog-service/node_modules
/catalog-service/coverage
/catalog-service/generated
/catalog-service/.env

/order-service/node_modules
/order-service/src/generated
/order-service/.env

/outbox-service/node_modules
/outbox-service/generated
/outbox-service/.env